@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Sacramento&display=swap');


body {
    font-family: 'Sacramento', cursive;
    font-size: 3em;
    color: black;
    background-image: linear-gradient(to left, #454545, #1F1F1F 90%, #000000ee);
    
}
h1 {
    font-size: 1.5em;
    text-align: center;
    font-weight: bolder;
}

h2 {
    font-weight: lighter;
}
p {
    text-indent: 20px;
    text-align: justify;
}


main {
    background-color: rgba(255, 228, 196, 0.623);
    border-radius: 20px;
    box-shadow: 5px 5px 15px #1F1F1F;
    width: 600px;
    padding: 10px;
    margin: auto;
}

